* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

#controls {
    font-family: 'Bangers', cursive;
    font-size: 1.6em;
    margin: 10px;
}

#controls label {
    margin-right: 25px;
}

#controls > p {
    font-size: 1.75em;
}

#canvas1 {
    box-shadow: inset 5px 5px 5px black;
    border: 1px solid black;
}

#mandrake {
    display: none;
}